@import '../../node_modules/d2l-colors/d2l-colors.scss';

.d2l-navigation-s {
	background-color: #fff;
	line-height: 1;
	min-width: 320px;
	position: relative;
}

[d2l-color-scheme="dark"] .d2l-navigation-s {
	background-color: $d2l-color-dark-mode-1;
}
[d2l-color-scheme="dark"] .d2l-branding-navigation-background-color {
	background-color: $d2l-color-dark-mode-1 !important;
}

.d2l-navigation-s[suppressed] {
	display: none;
}
